<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Wayback Classic - Searching for <%= ERB::Util.html_escape legacy_encoding.quotify(query) %></title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script type="text/javascript" src="/scripts/html5in4.js"></script>
  </head>
  <body background="/images/background@0.5x.gif">
    <h1><a href="/">Wayback Classic</a></h1>
    <form action="/cgi-bin/lookup.cgi" method="get">
      <label>URL or keywords: <input type="text" name="q" value="<%= ERB::Util.html_escape query %>"></label>
      <input type="hidden" name="utf8" value="✓">
      <input type="submit" value="Look Up">
      <a href="/search-help.html">Search Help</a>
    </form>
    <hr>
  <% if legacy_encoding.encoding_override %>
    <p><font color="gray"><strong>Note</strong>: Your browser is not honouring the text encoding for this page. Wayback Classic is attempting to provide this page in the <%= legacy_encoding.encoding_override %> encoding it appears to require. If something looks wrong, please send us the current URL of this page. You can also remove the <code>utf8=</code> parameter from the URL to turn this off, but some content may appear garbled.</font></p>
    <hr>
  <% end %>
    <h2>Search results for <%= ERB::Util.html_escape legacy_encoding.quotify(query) %></h2>
  <% if site_results.any? %>
    <table id="search_results" border="1" width="100%">
      <thead>
        <tr>
          <th>Image</th>
          <th>Site Name &amp; Information</th>
        </tr>
      </thead>
      <tbody>
      <% site_results.each do |result| %>
        <tr>
          <td align="center">
            <a href="<%= link = ERB::Util.html_escape uri("history.cgi", q: result["link"], utf8: legacy_encoding.utf8) %>"><img src="//web.archive.org/thumb/<%= result["thumb"] %>?generate=1" alt="Thumbnail of <%= ERB::Util.html_escape result["name"] %>" width="128" height="96"></a>
          </td>
          <td>
            <a href="<%= link %>"><strong><%= ERB::Util.html_escape result["name"] %></strong></a>
            <br>
            <%= ERB::Util.html_escape legacy_encoding.encode(result["snippet"]) %>
            <br>
            <small>
              <font color="gray">
                <%= pluralize result["capture"], "capture", "captures" %> between <%= result["first_captured"] %> and <%= result["last_captured"] %>
              </font>
              <br>
              Jump to: <a href="<%= ERB::Util.html_escape uri("history.cgi", q: result["link"], date: "earliest", utf8: legacy_encoding.utf8) %>">Earliest</a>, <a href="<%= ERB::Util.html_escape uri("history.cgi", q: result["link"], date: "latest", utf8: legacy_encoding.utf8) %>">Latest</a>
            </small>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No results were found for these keywords</p>
  <% end %>
    <hr>
    <p><small>Wayback Classic retrieves data from The Wayback Machine. The Wayback Machine is run by the <a href="//archive.org">Internet Archive</a>. They do amazing work preserving all sorts of things, including the websites you find here. You should consider <a href="//archive.org/donate/">donating</a> to them! Copyright &copy; 2021-2023 Jessica Stokes. <a href="https://github.com/ticky/wayback-classic">Source code available on GitHub</a></small></p>
    <a href="//web.archive.org/web/19970220020535/http://www.microsoft.com/ie/download/"><img border="0" src="/images/ie.gif" alt="Microsoft Internet Explorer" height="31" width="88"></a>
    <a href="//web.archive.org/web/19970220020535/http://home.netscape.com/comprod/mirror/client_download.html"><img border="0" src="/images/netscape-now.gif" alt="Netscape Now! 3.0" height="31" width="88"></a>
    <img border="0" src="/images/dreamcast.gif" alt="Compatible with Dreamcast" height="31" width="88">
    <a href="https://web.archive.org/web/20230325051606if_/http://the-tech.mit.edu/Projects/Macmade/"><img border="0" src="/images/macmade-wht.gif" alt="Made with Macintosh" height="31" width="88"></a>
    <a href="//validator.w3.org/check?uri=referer"><img border="0" src="//www.w3.org/Icons/valid-html401.gif" alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
  </body>
</html>
