<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Wayback Classic - Searching for <%= ERB::Util.html_escape quotify(query, encoding_override) %></title>
    <style type="text/css">
      * { box-sizing: border-box; }
      @media (max-width: 380px) {
        #search_results img {
          width: 64px;
          height: 48px;
        }
      }
    </style>
  </head>
  <body background="/images/background@0.5x.gif">
    <h1><a href="/">Wayback Classic</a></h1>
    <form action="/cgi-bin/lookup.cgi" method="get">
      <label>URL or search terms: <input type="text" name="q" value="<%= ERB::Util.html_escape query %>"></label>
      <input type="hidden" name="utf8" value="✓">
      <input type="submit" value="Look Up">
    </form>
    <hr>
    <% if encoding_override %>
    <p><font color="gray"><strong>Note</strong>: Your browser is not honouring the text encoding for this page. Wayback Classic is attempting to provide this page in the <%= encoding_override %> encoding it appears to require. If something looks wrong, please send us the current URL of this page. You can also remove the <code>utf8=</code> parameter from the URL to turn this off, but some content may appear garbled.</font></p>
    <hr>
    <% end %>
    <h2>Search results for <%= ERB::Util.html_escape quotify(query, encoding_override) %></h2>
    <table id="search_results" border="1" width="100%">
      <thead>
        <th>Image</th>
        <th>Site Name & Information</th>
      </thead>
      <tbody>
      <% site_results.each do |result| %>
        <tr>
          <td align="center">
            <a href="<%= uri("history.cgi", q: result["link"], utf8: utf8) %>"><img src="//web.archive.org/thumb/<%= result["thumb"] %>?generate=1" alt="Thumbnail of <%= ERB::Util.html_escape result["name"] %>" width="128" height="96" /></a>
          </td>
          <td>
            <a href="<%= uri("history.cgi", q: result["link"], utf8: utf8) %>"><strong><%= ERB::Util.html_escape result["name"] %></strong></a>
            <br>
            <% snippet = if encoding_override
                           result["snippet"].encode(encoding_override, undef: :replace).force_encoding("UTF-8")
                         else
                           result["snippet"]
                         end %>
            <%= ERB::Util.html_escape snippet %>
            <br>
            <font color="gray">
              <small><%= number_formatter result["capture"] %> <%= if result["capture"] == 1 then "capture" else "captures" end %> between <%= result["first_captured"] %> and <%= result["last_captured"] %></small>
            </font>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <hr>
    <p><small>Wayback Classic retrieves data from The Wayback Machine. The Wayback Machine is run by the <a href="//archive.org">Internet Archive</a>. They do amazing work preserving all sorts of things, including the websites you find here. You should consider <a href="//archive.org/donate/">donating</a> to them! Copyright &copy; 2021 Jessica Stokes. <a href="https://github.com/ticky/wayback-classic">Source code available on GitHub</a></small></p>
    <a href="//web.archive.org/web/19970220020535/http://www.microsoft.com/ie/download/"><img border="0" src="/images/ie.gif" alt="Microsoft Internet Explorer" height="31" width="88"></a>
    <a href="//web.archive.org/web/19970220020535/http://home.netscape.com/comprod/mirror/client_download.html"><img border="0" src="/images/netscape-now.gif" alt="Netscape Now! 3.0" height="31" width="88"></a>
    <img border="0" src="/images/dreamcast.gif" alt="Compatible with Dreamcast" height="31" width="88">
    <a href="http://the-tech.mit.edu/Projects/Macmade/"><img border="0" src="/images/macmade-wht.gif" alt="Made with Macintosh" height="31" width="88"></a>
    <a href="//validator.w3.org/check?uri=referer"><img border="0" src="//www.w3.org/Icons/valid-html401.gif" alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
  </body>
</html>
