<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Wayback Classic - Date index for URL <%= ERB::Util.html_escape quotify(query, encoding_override) %></title>
  </head>
  <body background="/images/background@0.5x.gif">
    <h1><a href="/">Wayback Classic</a></h1>
    <form action="/cgi-bin/lookup.cgi" method="get">
      <label>URL or search terms: <input type="text" name="q" value="<%= ERB::Util.html_escape query %>"></label>
      <input type="hidden" name="utf8" value="✓">
      <input type="submit" value="Look Up">
    </form>
    <hr>
    <h2>Date index for URL <%= ERB::Util.html_escape quotify(query, encoding_override) %></h2>
    <table border="1" width="100%">
      <tbody>
      <% date_index.each do |year, index_item| %>
        <tr>
          <th align="center" valign="top"><strong><%= year %></strong></th>
          <td valign="top">
          <% index_item.each do |month_item| %>
            <% date = month_item["datetime"].strftime("%Y%m") %>
            <a href="<%= uri("history.cgi", q: query, date: date, utf8: utf8) %>"><%= month_item["datetime"].strftime("%B") %></a>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <hr>
    <p><small>Wayback Classic retrieves data from The Wayback Machine. The Wayback Machine is run by the <a href="//archive.org">Internet Archive</a>. They do amazing work preserving all sorts of things, including the websites you find here. You should consider <a href="//archive.org/donate/">donating</a> to them! Copyright &copy; 2021 Jessica Stokes. <a href="https://github.com/ticky/wayback-classic">Source code available on GitHub</a></small></p>
    <a href="//web.archive.org/web/19970220020535/http://www.microsoft.com/ie/download/"><img border="0" src="/images/ie.gif" alt="Microsoft Internet Explorer" height="31" width="88"></a>
    <a href="//web.archive.org/web/19970220020535/http://home.netscape.com/comprod/mirror/client_download.html"><img border="0" src="/images/netscape-now.gif" alt="Netscape Now! 3.0" height="31" width="88"></a>
    <img border="0" src="/images/dreamcast.gif" alt="Compatible with Dreamcast" height="31" width="88">
    <a href="http://the-tech.mit.edu/Projects/Macmade/"><img border="0" src="/images/macmade-wht.gif" alt="Made with Macintosh" height="31" width="88"></a>
    <a href="//validator.w3.org/check?uri=referer"><img border="0" src="//www.w3.org/Icons/valid-html401.gif" alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
  </body>
</html>
