<%= form_with method: :get do |form| %>
  <%= form.text_field :q, placeholder: "Enter a URL or search terms", value: params["q"] %>
  <%= form.submit "Go", name: nil %>
<% end %>

<% if @site_results %>
  <ul>
    <% @site_results.each do |result| %>
      <li>
        <%= link_to root_path(q: result["link"]) do %><%= result["name"] %><% end %>
          <br/>
        <%= link_to image_tag("//web.archive.org/thumb/#{result["thumb"]}?generate=1", alt: "Thumbnail of #{result["name"]}"), root_path(q: result["link"]) %>
        <br />
        <%= number_with_delimiter result["capture"] %> <%= "captures".pluralize result["capture"] %> between <%= result["first_captured"] %> and <%= result["last_captured"] %>
        <br />
        <%= result["snippet"] %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @cdx_results %>
  <ul>
    <% @cdx_results.each do |cdx_result| %>
      <li>
        <%= link_to "//web.archive.org/web/#{cdx_result["timestamp"]}if_/#{cdx_result["original"]}" do %>
          <%= cdx_result["statuscode"] %> <%= cdx_result["datetime"].to_s(:long) %>
        <% end %>
        <br />
        <%= number_to_human_size cdx_result["length"] %>, Content-type: <%= cdx_result["mimetype"] %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @resume_key %>
<%= @resume_key %>
<% end %>
